Source: live-images
Section: misc
Priority: optional
Maintainer: Live Systems Maintainers <debian-live@lists.debian.org>
Uploaders: Daniel Baumann <mail@daniel-baumann.ch>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://live-systems.org/devel/live-images/
Vcs-Browser: http://live-systems.org/gitweb/?p=live-images.git
Vcs-Git: git://live-systems.org/git/live-images.git

Package: live-images
Architecture: all
Section: metapackages
Depends:
 ${misc:Depends}, live-image-gnome-desktop, live-image-kde-desktop,
 live-image-lxde-desktop, live-image-rescue, live-image-standard,
 live-image-xfce-desktop
Conflicts: live-images-all
Replaces: live-images-all
Recommends:
 live-boot-doc, live-config-doc, live-debconfig-doc,
 live-manual-html | live-manual
Description: live-build configurations (metapackage)
 Live images are built with live-build configuration trees.
 .
 This package is a metapackage depending on all available configuration trees.

Package: live-image-gnome-desktop
Architecture: all
Depends: ${misc:Depends}, live-build (>= 3.0)
Recommends:
 live-boot-doc, live-config-doc, live-debconfig-doc,
 live-manual-html | live-manual
Description: live-build configuration for the GNOME desktop live images
 Live images are built with live-build configuration trees.
 .
 This package contains the live-build configuration tree to build the
 GNOME desktop live image.

Package: live-image-kde-desktop
Architecture: all
Depends: ${misc:Depends}, live-build (>= 3.0)
Recommends:
 live-boot-doc, live-config-doc, live-debconfig-doc,
 live-manual-html | live-manual
Description: live-build configuration for the KDE live images
 Live images are built with live-build configuration trees.
 .
 This package contains the live-build configuration tree to build the
 KDE desktop live image.

Package: live-image-lxde-desktop
Architecture: all
Depends: ${misc:Depends}, live-build (>= 3.0)
Recommends:
 live-boot-doc, live-config-doc, live-debconfig-doc,
 live-manual-html | live-manual
Description: live-build configuration for the LXDE desktop live images
 Live images are built with live-build configuration trees.
 .
 This package contains the live-build configuration tree to build the
 LXDE desktop live image.

Package: live-image-rescue
Architecture: all
Depends: ${misc:Depends}, live-build (>= 3.0)
Recommends:
 live-boot-doc, live-config-doc, live-debconfig-doc,
 live-manual-html | live-manual
Description: live-build configuration for the rescue live images
 Live images are built with live-build configuration trees.
 .
 This package contains the live-build configuration tree to build the
 rescue live image.

Package: live-image-standard
Architecture: all
Depends: ${misc:Depends}, live-build (>= 3.0)
Recommends:
 live-boot-doc, live-config-doc, live-debconfig-doc,
 live-manual-html | live-manual
Description: live-build configuration for the standard live images
 Live images are built with live-build configuration trees.
 .
 This package contains the live-build configuration tree to build the
 standard live image.

Package: live-image-xfce-desktop
Architecture: all
Depends: ${misc:Depends}, live-build (>= 3.0)
Recommends:
 live-boot-doc, live-config-doc, live-debconfig-doc,
 live-manual-html | live-manual
Description: live-build configuration for the Xfce desktop live images
 Live images are built with live-build configuration trees.
 .
 This package contains the live-build configuration tree to build the
 Xfce desktop live image.
